body {
  background: lightyellow;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
section {
  text-align: center;
  text-align: -webkit-center;
}
.btn {
  background: rgb(238, 121, 238);
  margin: 20px;
}
ul {
  text-align: start;
}
.add-btn {
  background: rgb(238, 121, 238);
  width: 40px;
  height: 40px;
}
.app-title {
  text-align: center;
  color: gray;
}
.container {
  border: 5px solid rgba(201, 90, 109, 0.384);
  border-radius: 25px;
  background-color: rgba(201, 90, 109, 0.384);
  width: max-content;
  height: 400px;
  text-align: center;
}
.doneItem {
  text-decoration: line-through;
}
notdoneItem {
  color: black;
}
